.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 13vh;
  margin-bottom: 5rem;
}

.titleCont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: .2rem;
  font-family: 'bosch';
  width: 100vw;
  font-size: 1.5rem;
  padding: 2rem .5rem 0 1.4rem;
  padding-top: 2rem;
  margin-bottom: 30%;
}


.h3b {
  padding-left: 32%;
}

.aboutContent {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 .5rem;
}

.description {
  color:rgb(255, 255, 255);
  font-family: 'neulight', sans-serif;
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.4rem;
}
/* max-width: 65ch; */

.cvButton {
  margin-top: 3.5rem;
  margin-bottom: 4rem;
  margin-left: 1.7rem;
  align-self: flex-start;
  height: 3rem;
  width: 29%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .7rem;
}

.cvButton span {
  font-size: .75rem;
  color: rgb(251, 251, 251);
  font-family: 'Bosch';
}

.cvButton img {
  max-width: 100%;
  height: 1.1rem;
}

/* small devices (vertical tablets) */
@media (min-width: 768px) {
  
}

/* medium devices (horizontal tablet) */
@media (min-width: 1024px) {
 
}

/* Laptop Screen */
@media (min-width: 1280px) {
 
}

/* PC Screen (desktop) */
@media (min-width: 1536px) {
  .about {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .titleCont {
    padding-top: 4.5rem;
    font-family: 'bosch';
    font-size: 550%;
    width: 65%;
    margin-bottom: 3%;
  }
  
  .h3b {
    text-align: end;
    padding-left: 0%;
  }
  
  .aboutContent {
    gap: 9.5rem;
    width: 100%;
    padding: 2rem;
    font-family: 'neu';
    font-size: 1.5rem;
  }
  
  .description {
    font-family: 'neulight';
    font-size: 1.85rem;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    padding: 0 1rem;
  }

  .cvButton {
    margin-top: 3.5rem;
    margin-bottom: 4rem;
    margin-left: 1.7rem;

    height: 4rem;
    width: 15%;
    gap: .5rem;
  }
  
  .cvButton span {
    font-size: .95rem;
  }
  
  .cvButton img {
    max-width: 100%;
    height: 1.6rem;
  }
}
