.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  margin-bottom: 5rem;
}

.titleCont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: .2rem;
  font-family: 'bosch';
  width: 85vw;
  font-size: 1.4rem;
  padding-top: 2rem;
  margin-bottom: 5rem;
  
  opacity: 0;
}

.animate {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode:forwards;
}
.toPop {
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(.26,.53,.74,1.48);
}
@keyframes animate-fade {
  0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
        
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}


.h3b {
  /* text-align: center; */
  padding-left: 30%;
}

.aboutContent {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1.2rem;
}

.pic {
  aspect-ratio: 7,2 / 9;
  max-width: 30%;
  height: auto;
}

.description {
  color:rgb(255, 255, 255);
  max-width: 65ch;
  font-family: 'neulight', sans-serif;
  font-size: 1.12rem;
  font-weight: 500;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.4rem;
  filter: blur(0.6px);
}

.cvButton {
  margin-top: 3.5rem;
  margin-bottom: 4rem;
  margin-left: 1.7rem;
  align-self: flex-start;
  height: 3rem;
  width: 29%;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .7rem;  
  
  filter: blur(0.7px);
}

.cvButton span {
  font-size: .75rem;
  color: rgb(251, 251, 251);
  font-family: 'Bosch';
}

.cvButton img {
  max-width: 100%;
  height: 1.1rem;
}