@font-face {
  font-family: 'neu';
  src: url('../assets/fonts/HelveticaNeueMedium.otf');
}

@font-face {
  font-family: 'neulight';
  src: url('../assets/fonts/HelveticaNeueLight.ttf');
}

@font-face {
  font-family: 'bosch';
  src: url('../assets/fonts/Bosch.otf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: white;
  background-color: #000;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}