.cont {
  width: 100vw;
  display: flex;
  align-items: center;
  margin-top: 7.6rem;
  margin-bottom: 1.5rem;
}

.text {
  color: rgb(251,251,251);
  position: relative;
  white-space: nowrap;
  font-family: 'bosch';
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 100%;
  user-select: none;
}