.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 22vh;
  
  opacity: 0; 
  transform: translate3d(300px, 0, 0);
  transition: opacity 3s cubic-bezier(0.4, 0, 0.2, 1), transform 3s cubic-bezier(0.4, 0, 0.2, 1);
}

.inView {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.imgCont {
  height: 84.5vh;
  width: 95.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: 
  linear-gradient(rgba(0, 0, 0, 0.3),
  rgba(0, 0, 0, 0.605)), 
  url('../../assets/images/portfolio800x1200.jpg');
  filter:contrast(1.15) grayscale();
  background-size: cover, 150%;
  background-repeat: no-repeat;
  background-position-x: 48%, 48%;
  background-position-y: 100%, 100%;
}