.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 28vh;
  
  opacity: 0; 
  transform: translate3d(300px, 0, 0);
  transition: opacity 3s cubic-bezier(0.4, 0, 0.2, 1), transform 3s cubic-bezier(0.4, 0, 0.2, 1);
}

.inView {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.imgCont {
  height: 84.5vh;
  width: 95.5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: 
  linear-gradient(rgba(0, 0, 0, .5),
  rgba(0, 0, 0, .5)), 
  url('../../assets/images/portfolio.jpg');
  filter: grayscale();
  background-size: 100%, cover;
  background-repeat: no-repeat;
  background-position-x: 38%, 38%;
  background-position-y: 50%, 50%;
}