.footer {
  /* margin-top: 2rem; */
  width: 96vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credits {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 6.4rem 0 1.2rem 0 ;
  padding: 0 .75%;
  font-family: 'bosch';
  font-size: .82rem;
  line-height: .8rem;
}

.credits div {
  /* width: 33.3vw; */
  text-align: center;
}

.credits :first-child {
  text-align: start;
}

.webDev {
  display: flex;
  gap: .3rem;
  align-items: flex-end;
}

.webDev img {
  align-self: center;
}

.credits a {
  text-decoration: none;
  color: #fff;
}

.credits a span {
  display: flex;
  flex-direction: column;
}

.emailCont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.emailCont p {
  text-align: center;
  padding: 0 7%;
  font-size: .9rem;
  line-height: 1.4rem;
}

.emailCont h2 {
  font-size: 1.8rem;
  font-family: 'bosch', sans-serif;
  text-wrap: nowrap;
  text-decoration: none;
  color: #fff;
}

.imgCont {
  position: relative;
  display: grid;
  place-items: center;
  width: 40%;
  height: 50px;
  overflow: hidden;
  margin: .30rem 0;
}

.icon {
  max-width: 1.2rem;
  filter:invert();
}
.iconCont a {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

/* -------------- ARROW ANIMATION ------------------*/

.imgArrow {
  position: absolute; 
  transform: translate(-50%, -50%);
  max-width: 23%;
  height: auto;
  animation: arrowAnimation 4s cubic-bezier(.85,.71,.9,1.25) infinite; 
}
.imgArrow2 {
  position: absolute; 
  transform: translate(-50%, -50%);
  max-width: 23%;
  height: auto;
  animation: arrowAnimation 4s cubic-bezier(.85,.71,.9,1.25) infinite 2s;
}
@keyframes arrowAnimation {
  0% { 
    transform: translate3d(0%, -100%, 0); 
    opacity: 0;
  } 
  15% { 
    transform: translate3d(0%, 0%, 0);
    opacity: 1; 
  }
  35% { 
    transform: translate3d(0%, 0%, 0);
    opacity: 1; 
  }
  50% { 
    transform: translate3d(0%, 100%, 0); 
    opacity: 1;
  }
  75% { 
    transform: translate3d(0%, 200%, 0); 
    opacity: 0; 
  }
  100% { 
    transform: translate3d(0%, -100%, 0); 
    opacity: 0; 
  }
}

/* ENTRANCE ANIMATION */

.inView {
  -webkit-animation: slide-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}


/*------------------ Underline Animation----------------------- */

.emailCont a {
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

.emailCont a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.2s ease-in-out, visibility 0s linear 0.2s;
}

.emailCont a:hover::before {
  visibility: visible;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.2s ease-in-out, visibility 0s linear;
}

.emailCont a:hover {
  color: #ffffff;
}

/* ---------- MEDIA QUERIES ------------- */

/* small devices (vertical tablets) */
@media (min-width: 768px) {
  .emailCont p {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  .imgCont {
    height: 5rem;
  }
  .emailCont h2 {
    font-size: 2.5rem;
  }
  .credits div {
    font-size: 1.2rem;
    line-height: 1.3rem;  
  }
  .icon {
    max-width: 1.4rem;
  }
}

/* Laptop Screen */
@media (min-width: 1280px) {
  .imgCont {
    height: 6rem;
  }
}

/* PC Screen (desktop) */
@media (min-width: 1536px) {

  .emailCont p {
    width: 45vw;
    font-size: 1.4rem;
  }

  .emailCont h2 {
    font-size: 5rem;
    line-height: 5rem;
  }
  .credits div {
    font-size: 1rem;
    line-height: 1.1rem;  
  } 
  .icon {
    max-width: 1.2rem;
  }
}
