.nav {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  
  position: fixed;
  width: 100vw;
  height: 6.2vh;
  padding: .9rem 12px;
  background-color: rgb(0, 0, 0);}

.nav a {
  color: #fff;
  text-decoration: none;
  font-family: 'bosch';
  font-size: 1.3em;
}